@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my application</h1>
    <p>I am building am web app for my personal skills and to better understand ASP.NET using razor</a>.</p>
</div>
